* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 12px 35px;
  cursor: pointer;
 
}
.nav-pt-2 {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  align-items: center;
  text-align: center;
  color: #060606;
  font-size: 16px;
  font-weight: 400;
}

.signup {
  border-radius: 8px;
  padding: 6px 14px;
  background: #c92028;
  color: white;
}
.nav-pt-3 button {
  font-size: 16px;
  font-weight: 500;
}
